<div class="about-section">
  <div class="about-content">
    <h3>About me</h3>
    <p>I am a 21 years old student at CPE Lyon (France) following a computing science and networking program, aiming to
      later become a fullstack software engineer.
      Thanks to a part time (work/study) in a company called Gencovery since september 2021, I managed to acquire skills
      and knowledeges in the computing science field on a professional sight, and this experience comfort me in my wish
      to work as a fullstack software engineer</p>
    <div class="table-div">
      <table>
        <tr>
          <th>{{'diplomas' | translate}}</th>
        </tr>
        <tr>
          <td>{{'cpe_diplomas' | translate}}</td>
        </tr>
        <tr>
          <td>{{'dut_diplomas' | translate}}</td>
        </tr>
        <tr>
          <td>{{'bac_diplomas' | translate}}</td>
        </tr>
      </table>
      <table>
        <tr>
          <th>{{'languages' | translate}}</th>
        </tr>
        <tr>
          <td>{{'french_language' | translate}}</td>
        </tr>
        <tr>
          <td>{{'english_language' | translate}}</td>
        </tr>
        <tr>
          <td>{{'italian_language' | translate}}</td>
        </tr>
        <tr>
          <td>{{'korean_language' | translate}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
