<div>
  <p>I am a 21 years old student at CPE Lyon (France) following a computing science and networking program, aiming to later become a fullstack software engineer.
  Thanks to a part time (work/study) in a company called Gencovery since september 2021, I managed to acquire skills and knowledeges in the computing science field on a professional sight, and this experience comfort me in my wish to work as a fullstack software engineer</p>
  <div>
    <p>Diplomas : Bac STI2D - DUT Info (2 years computer science College Diploma)</p>
  </div>
  <div>
    <p>Language : French native - English Fluent - Italian Good - Korean Beginner</p>
  </div>
</div>
