.welcome-text{
  position: relative;
  left: 15%;
  top: 25%;
  color: var(--text-color-light);
  font-size: 4em;
  font-weight: 500;
  height: fit-content;
  width: fit-content;
}

.second-title{
  color: var(--text-color-light);
  font-weight: 500;
  display: flex;
  position: relative;
  left: 15%;
  top: 30%;
  width: fit-content;
  font-size: 2.5em;
  vertical-align: bottom;
  align-content: end;
  height: fit-content;
}

.writer{
  margin-left: 0.25em;
  color: var(--secondary-color);
  font-size: 3em;
  font-weight: bold;
}
