<div class="skills-div">
  <ng-container *ngFor="let sg of skillGroups">
    <div class="sg" *ngIf="!skillOpen || sg.clicked"
         [style]="sg.clicked ? {} : {'background': 'linear-gradient(90deg, var(--primary-color) ' + getSgPercentage(sg).toString() +
       '%, var(--secondary-color) ' + getSgPercentage(sg).toString() + '%)'}" [ngClass]="sg.clicked ? 'sg-div-clicked' : 'skills-group-div'" (click)="sg.clicked = true; skillOpen = true">


      <h2 [ngClass]="sg.clicked ? 'sg-clicked-name' : 'skills-group-name'" [style]="sg.clicked ? {} : {'background': 'linear-gradient(90deg, var(--text-color-light) ' + getSgPercentage(sg).toString() + '%, var(--text-color)  ' + getSgPercentage(sg).toString() + '%)'}">{{sg.name}}</h2>

      <ng-container *ngIf="sg.clicked">
        <div class="skill" *ngFor="let s of sg.skills">
          <h3 class="skill-name">{{s.name}}</h3>
          <div class="skill-bar" [style]="{'background': 'linear-gradient(90deg, var(--background-color) ' + s.percentage.toString() + '%, var(--secondary-color) ' + s.percentage.toString() + '%)'}">
            <div class="skill-bar-percentage">{{s.percentage}}%</div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>

</div>
